<div class="card border-primary mb-3" >
  <div class="card-header">Clientes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de clientes</h5>

      <div class="my-2 text-left">
      	<button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/clientes/form']" >Crear Cliente</button>
      </div>

		   <table class="table table-striped">
			  <thead>
			    <tr>
			      <th scope="col">Id</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Apellido</th>
			      <th scope="col">Email</th>
			      <th scope="col">Fecha</th>
			       <th scope="col">Editar</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr *ngFor="let cliente of clientes">
			      <th scope="row">{{cliente.id}}</th>			      
			      <td>{{cliente.nombre}}</td>
			      <td>{{cliente.apellido}}</td>
			      <td>{{cliente.email}}</td>
			      <td>{{cliente.fechaCreada}}</td>	
			      <td><button type="button" name="button" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary" >Editar</button></td>			    
			    </tr>			    
			  </tbody>
		  </table>
  </div>
</div>